* {
    padding: 0px;
    margin: 0px;
}
body {

    
    background-image: url(../Assets/.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* footer style (start) */

.ft-holder {

    padding: 20px !important;
    background-image:radial-gradient(rgba(7, 0, 0, 0.349),rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0)), url(../Assets/gallery_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ft-flex {

    display: flex;
    margin-top: 10px !important;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px !important;
}

.ft-logo {

    text-align: center;
}

.ft-logo-h2 {

    font-family: 'cooper';
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 2px gold;
    
}

.ft-logo-h2 span {

    position: relative;
      top: 8px;  
}

.ft-logo-h2 span img {

    height: 70px;
    width: 70px;
}

.ft-pages {

    margin-bottom: 10px !important;
   
}

.ft-pages-title {

    font-family: "cooper";
    color: gold;
}

.ft-link-wrapper {

    margin-top: 5px !important;
}

.ft-link {

    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all;
}

.ft-link:hover {

    transition: 0.3s;
    color: darkgoldenrod;
    text-decoration: underline;
}

.ft-contact {

    margin-top: 10px !important;
}

.ft-contact-title {

    font-family: "cooper";
    color: gold;
}

.ft-location {

    margin-top: 5px !important;
    font-size: 18px;
    color: white;
}

.ft-phone {

    margin-top: 5px !important;
    font-size: 18px;
    color: white;
}

.ft-email, a {

    margin-top: 5px !important;
    text-decoration: none;
    color: gold;
}

.ft-hours {

    margin-top: 10px !important;
}

.open-hours {

    font-family: "cooper";
    color: gold;
}

.open-day {

    margin-top: 5px !important;
    color: white;
}

.open-time {

    margin-top: 5px !important;
    color: burlywood;
}

/* media icons style (start) */

.media-icons-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.md-icon img {

    height: 20px;
    width: 20px;
}
/* media icons style (end) */

/* footer-text-zone style (start) */

.ft-text-zone {

    text-align: center;
    margin-top: 10px !important;
}

.copy {

    font-size: 12px;
    font-family: "arial";
    color: white;
}

.credit {

    color: white;
    margin-top: 10px !important;
}

.credit a {

    text-decoration: underline;
    color: gold;
}

/* footer-text-zone style (end) */


/* footer style (end) */

@media (max-width: 799px) {
    /* footer style (start) */

    .ft-flex {

        display: block;
        margin-top: 10px !important;
        margin-bottom: 15px !important;
    }

    /* footer style (end) */

}